/Dietitian2dArray/nbproject/private/
/ShapeProject_Interface_Inheritance_Overload/nbproject/private/
/PastPapers/nbproject/private/
/PastPapers/build/
/business_company/nbproject/private/
/EventManagement/nbproject/private/
/MocTest/nbproject/private/
/MocTest/build/
/ShapeProject_Interface_Inheritance_Overload/build/
/2021Question1/nbproject/private/
/2021Question1/build/
/Question2TestPractice/nbproject/private/
/Question2TestPractice/build/
/GUI/nbproject/private/
/GUI/build/
/Exeption_handling/nbproject/private/
/Exeption_handling/build/
/ReadWriteFile/nbproject/private/
/ExamPractice/nbproject/private/
/ExamPractice/build/
/ExamPractice2/nbproject/private/
/ExamPractice2/build/
/ExamPractice3/nbproject/private/
/ExamPractice3/build/
/ExamPractice3.2/nbproject/private/
/ExamPractice3.2/build/
/ExamPractice3/dist/
